@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 220 13% 13%;

    --card: 0 0% 100%;
    --card-foreground: 220 13% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 13% 13%;

    --primary: 233 47% 39%;
    --primary-foreground: 0 0% 100%;

    --secondary: 233 15% 95%;
    --secondary-foreground: 233 47% 39%;

    --muted: 233 15% 96%;
    --muted-foreground: 220 13% 52%;

    --accent: 46 100% 77%;
    --accent-foreground: 220 13% 13%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 233 15% 91%;
    --input: 233 15% 94%;
    --ring: 233 47% 39%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 233 47% 7%;
    --foreground: 233 15% 95%;

    --card: 233 38% 10%;
    --card-foreground: 233 15% 95%;

    --popover: 233 38% 10%;
    --popover-foreground: 233 15% 95%;

    --primary: 233 76% 68%;
    --primary-foreground: 233 47% 7%;

    --secondary: 233 38% 15%;
    --secondary-foreground: 233 15% 85%;

    --muted: 233 38% 15%;
    --muted-foreground: 233 15% 65%;

    --accent: 46 100% 77%;
    --accent-foreground: 233 47% 7%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 233 15% 95%;

    --border: 233 38% 18%;
    --input: 233 38% 18%;
    --ring: 233 76% 68%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
